<div *mobxAutorun="{ dontDetach: true }">
<mat-card>
  <mat-card-header>
    Aggregated of Spendings by Type
  </mat-card-header>
  <mat-card-content>
    <div class="group">
      <mat-checkbox *ngFor="let type of store.state.spendingTypes" name="populationType_{{type.name}}"
                    [(ngModel)]="type.checked"
                    [value]="type.name">{{ type.name }}</mat-checkbox>
    </div>
    <div class="group">
      <ng-container *ngIf="store.spendingsAggregated">
        <div *ngFor="let key of store.spendingsAggregatedKeys">
          <span>Type: {{key}}</span>
          <span>Sum: {{store.spendingsAggregated[key]}}</span>
        </div>
      </ng-container>
      <p class="empty-table-message" *ngIf="!store.spendingsAggregated">No spending added</p>
    </div>
  </mat-card-content>
</mat-card>
</div>
